
@{
    ViewBag.Title = "HomeAdmin";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin-page</title>
    <title>@ViewBag.Title - DocterSpot Application</title>

    <link href="~/Content/DoctorCSS/AdminHome.css" rel="stylesheet" />

    <script src="https://kit.fontawesome.com/8108bf77ec.js" crossorigin="anonymous"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body>

    <h1 class="h1">Hello @Session["FirstName"]</h1>

    <div class="content">
        <div class="para">
            <p>
                A doctorSpot is a streamlined and efficient healthcare solution designed to
                facilitate the scheduling and management of patient appointments with
                healthcare providers. This system typically encompasses an easy-to-use online
                platform or application that allows patients to book appointments at their
                convenience, view available time slots, and select their preferred healthcare
                professional. Simultaneously, healthcare providers can efficiently manage
                their schedules, access patient information, and receive notifications of
                upcoming appointments. This technology-driven system not only enhances patient
                access to healthcare services but also improves the overall operational
                efficiency of healthcare facilities, ensuring timely and organized patient care.
            </p>
        </div>

        <div class="sec2">
            <img src="~/Content/Images/Img-1.jpg" width="800" height="400" alt="Image">
        </div>

        <div class="para-1">
            <p>
                A doctor appointment system is a digital platform that revolutionizes the way
                patients access healthcare services. It provides a user-friendly interface for
                patients to schedule appointments, view available time slots, and select their
                preferred healthcare providers, all from the comfort of their devices.
                Simultaneously, it empowers healthcare providers to efficiently manage their
                schedules, access patient information, and streamline administrative tasks.
                This system not only enhances patient convenience but also optimizes the
                utilization of healthcare resources, ultimately leading to improved patient care
                and overall healthcare system efficiency.
            </p>
        </div>

        <div class="sec3">
            <img src="~/Content/Images/Img-2.jpg" width="800" height="400" alt="Image">
        </div>


    </div>

</body>

</html>

<!-- Prevent back  -->
<SCRIPT type="text/javascript">
    window.history.forward();
    function noBack() { window.history.forward(); }
</SCRIPT>

<BODY onload="noBack();"
      onpageshow="if (event.persisted) noBack();" onunload="">
</BODY>