@{
    ViewBag.Title = "AboutUs";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - About us</title>
    <link href="~/Content/_LayoutCSS/AboutUs.css" rel="stylesheet" />
    <script src="~/Scripts/PreventScripts/Prevent.js"></script>
    <script src="https://kit.fontawesome.com/8108bf77ec.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="aboutuspage">
        <div class="container">
            <div class="content">
                <h1>About us</h1>
                <p class="p1">
                    Welcome to HealthCare, your trusted
                    source for high-quality healthcare information and services. Our
                    application is dedicated to providing reliable medical information,
                    connecting patients with qualified healthcare providers, and
                    improving the overall healthcare experience.
                </p>
            </div>
            <div class="image">
                <img src="~/Content/Images/Img-3.jpg" />
            </div>
        </div>

        <div class="choose">
            <h1>Why choose us</h1>
            <p class="p2">
                We always provide our best service to our clients.
                That's why people love to visit us in the future.
            </p>
        </div>

        <div class="highlight">
            <div class="content-1" id="a1">
                <h3 class="h1"><i class="fa-solid fa-stethoscope"></i>Qualified doctors</h3>
                <p>
                    The medical field encompasses a wide range of healthcare disciplines, including
                    diagnosis, treatment, and research, aimed at improving human health and well-being.
                </p>
            </div>
            <div class="content-1" id="a2">
                <h3 class="h1"><i class="fa-regular fa-square-poll-horizontal"></i>Precise results</h3>
                <p>
                    The medical field encompasses a wide range of healthcare disciplines, including
                    diagnosis, treatment, and research, aimed at improving human health and well-being.
                </p>
            </div>
            <div class="content-1" id="a3">
                <h3 class="h1"><i class="fa-brands fa-buromobelexperte"></i>Unmatched expertise</h3>
                <p>
                    The medical field encompasses a wide range of healthcare disciplines, including
                    diagnosis, treatment, and research, aimed at improving human health and well-being.
                </p>
            </div>
        </div>
    </div>
</body>
</html>
