
@{
    ViewBag.Title = "OurServices";
    Layout = "~/Views/Shared/Patient_Layout.cshtml";
}
<link href="~/Content/PatientCSS/OurServices.css" rel="stylesheet" />
<h2>Our Services</h2>
<div class="container">

    <div class="row">
        <h4 class="h4">Arthritis treatment</h4>
        <div class="content-1">
            <h5>Rheumatologist</h5>
            <p>Rheumatologists specialize in diagnosing and treating disorders related to the musculoskeletal and autoimmune systems.</p>
        </div>

        <div class="content-1">
            <h5>Osteoporosis</h5>
            <p>A condition where bones become fragile and prone to fractures, often associated with arthritis and joint issues.</p>
        </div>

        <div class="content-1">
            <h5>Reactive Arthritis</h5>
            <p>A condition where bones become fragile and prone to fractures, often associated with arthritis and joint issues.</p>
        </div>
    </div>
    <div class="row">

        <h4 class="h4">Heart treatment</h4>
        <div class="content-1">
            <h5>Pericarditis</h5>
            <p>A condition where bones become fragile and prone to fractures, often associated with arthritis and joint issues.</p>
        </div>

        <div class="content-1">
            <h5>Angina Pectoris</h5>
            <p>A condition where bones become fragile and prone to fractures, often associated with arthritis and joint issues.</p>
        </div>

        <div class="content-1">
            <h5>Hypertension</h5>
            <p>A condition where bones become fragile and prone to fractures, often associated with arthritis and joint issues.</p>
        </div>
    </div>
    <div class="row my-3">
        <h4 class="h4">Brain treatment</h4>
        <div class="content-1">
            <h5>Neurologist</h5>
            <p>A condition where bones become fragile and prone to fractures, often associated with arthritis and joint issues.</p>
        </div>

        <div class="content-1">
            <h5>Pediatric Neurologist</h5>
            <p>A condition where bones become fragile and prone to fractures, often associated with arthritis and joint issues.</p>
        </div>

        <div class="content-1">
            <h5>Brain Tumors</h5>
            <p>Neurologists are often involved in the evaluation and treatment of brain tumors.</p>
        </div>
    </div>
</div>

<!-- Prevent back  -->
<SCRIPT type="text/javascript">
    window.history.forward();
    function noBack() { window.history.forward(); }
</SCRIPT>

<BODY onload="noBack();"
      onpageshow="if (event.persisted) noBack();" onunload="">
</BODY>