.h1 {
    color: #008000;
    margin-left: 100px;
    margin-top: 50px;
}

.para{
    width:400px;
    height:400px;
    margin-bottom: 50px; 
    margin-top:60px;
    text-align:justify;
}

.GetAppointment {
    text-decoration: none;
}

a {
    color: white;
}

a:hover {
    color: white;
}


.btn {
    color: white;
    background-color: #16558f;
    width: 300px;
    margin-left: 30px;
    margin-top: 30px;
}


    .btn:hover {
        color: white;
        background-color: #16558f;
        width: 300px;
        margin-left: 30px;
        margin-top: 30px;
    }


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-1 {
    flex: 1;
    padding: 20px;
}
/*
.t1{
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:5px;
    color:white;
    background-color:hotpink;
    width:300px;
    height:50px;
}


.t2 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: white;
    background-color:yellowgreen;
    width: 300px;
    height: 50px;
}
.t3 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: white;
    background-color:orangered;
    width: 300px;
    height: 50px;
}*/

.topic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left:30px;
}

.top-1 {
    flex: 1;
    padding: 20px;
}

.top-2 {
    flex: 1;
    padding: 20px;
}

.fa-solid{
    padding-right:5px;
}

.goal {
    padding-top:50px;
    text-align: center;
}

.goal-para{
    text-align:justify;
    padding:20px;
}